<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    text-align: center;
}
body, ul{
    text-decoration: none;
    list-style: none;
    font-family: 'Arimo', sans-serif;
    color:white;
}
a{
    text-decoration: none;
    color: black;
}
/* Cabeçalho INICIO */
#logo{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
    text-transform: uppercase;
    transition: .5s;
}
#logo:hover{
    color:#007BFF;
}

#header{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left:0;
    width: 100%;

}
#menu{
    display: flex;
    gap: .5rem;
    margin-right: 20px;
}
#menu a{
    color: white;
    display: block;
    padding: .5rem;
    text-transform: uppercase;
    transition: .5s;
}
#menu a:hover{
    border-bottom: 1px solid #007bff;
}

#btn-mobile{
    display: none;
}

/* Sobre */
#sobre{
    display: flex;
    background-image: url('../img/stars.png');
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    padding-bottom: 100px;
    animation: animatedBackground 10s linear infinite alternate;
}
@keyframes animatedBackground {
    from {
      background-position-y: 0 0;
    }
    to {
      background-position-y: 100% 100%;
    }
  }
.texto-centro{
    text-align: center;
    margin-top: 100px;
}
.texto-centro span:first-child{
    font-size: 0.9em;
    font-weight:100;
}
.texto-centro span:last-child{
    font-size: 1em;
    font-weight:0;
}
.texto-centro h1{
    font-size: 3em;
    font-weight: 800;
    margin: 10px 0;
}
/*CARD PERFIL */
.card-perfil{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background: #111111;
    display: flex;
    justify-content:center;
    border: solid 2px;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
    transition: 0.5s;
}
.card-perfil:hover{
    -webkit-box-shadow: 5px 5px 17px -3px #007BFF; 
    box-shadow: 5px 5px 17px -3px #007BFF;
}
.conteudo-perfil{
    width: 80%;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-areas: "foto conteudo";
}
.conteudo-e{
    grid-area: foto;
}
.linha{
    display: block;
    width: 30px;
    height: 2px;
    background: #007bff;
    margin: 20px 0;
}
.conteudo-d{
    grid-area: conteudo;
    margin-left: 40px;
    text-align: left;
    max-width: 400px;
}
.conteudo-d h3{
    font-weight: 100;
    margin:0;
}
.conteudo-d p{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}
.redes-sociais{
    margin: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
}
.redes-sociais img{
    width: 20px;
}
.redes-sociais svg{
    transition: 0.5s ease-in-out;
}
.redes-sociais a:hover svg{
    width: 35px;
}
#foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.titulo{
    font-size: 2em;
    margin-top: 60px;
    margin-bottom: 20px;
}

#servicos{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.container-cards{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:20px;
}

.column{
    border: 1px solid #151515;
    text-align: left;
    padding: 20px;
    transition: 0.5s;
}
.column:hover{
    -webkit-box-shadow: 0px 0px 10px 2px #2ec4b6; 
box-shadow: 0px 0px 10px 2px #2ec4b6;
}
.column h3{
    color:#007BFF;
}
.column p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
  
  

#contato{
    width: 80%;
    padding-bottom: 40px;
    background: #111111;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
#contato h2{
    margin-top: 40px;
    margin-bottom: 80px;
    color: #007BFF;
    font-weight: bold;
    text-transform: uppercase;
}
.container-contato{
    display: flex;
    justify-content: space-around;
    text-align: left;
}
.contato a{
    color:white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.2px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form textarea{
    background: transparent;
    width:400px;
    padding: 10px;
    height: 100px;
    max-width: 400px;
    color:white;
    border: 1px solid white;
    overflow-y: auto;
}
.form input{
    padding: 10px;
    width: 400px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid white;
    color:white;
    
}
#submit{
    border: none;
    width: 100px;
    background: #007BFF;
    text-transform: uppercase;
    transition: .5s;
}
#submit:hover{
    background: #023b77;
}
footer{
    margin-top:40px;
    background: #151515;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}
footer span{
    font-weight: bold;
}
.redes-sociais#media-footer{
    justify-content: center;
}
@media (max-width: 700px){

    #btn-mobile{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top:70px;
        right: 0;
        height: 0;
        background: black;
        margin: 0;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid white;
        border-top: 1px solid #FFF;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        border-top: 2px solid;
        width: 20px;
        color: white;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        position: relative;
        margin-top: 5px;
        transition: .3s;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
       
    }
    .conteudo-perfil{
        grid-template-areas: "foto""conteudo";
    }

    .linha{
       margin-left: auto;
       margin-right: auto;
       width: 50px;
    }
    .conteudo-e{
        margin-left: auto;
        margin-right: auto;
    }
    .conteudo-d{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .redes-sociais{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
    }

    .container-contato{
        text-align: center;
        flex-direction: column;
    }
    #contato h2{
        margin-bottom: 20px;
    }
    .form{
        margin:40px 20px;
        align-items: center;
    }
    .form input{
        width: 80%;
    }
    .form textarea{
        width: 80%;
    }
}