*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    text-align: center;
    padding-bottom: 40px;
}
body, ul{
    text-decoration: none;
    list-style: none;
    font-family: 'Arimo', sans-serif;
    color:white;
}
a{
    text-decoration: none;
    color: black;
}
/* Cabeçalho INICIO */
#logo{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
    text-transform: uppercase;
}

#header{

    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}
#menu{
    display: flex;
    gap: .5rem;
    margin-right: 20px;
}
#menu a{
    color: white;
    display: block;
    padding: .5rem;
    text-transform: uppercase;
    transition: .5s;
}
#menu a:hover{
    border-bottom: 1px solid #007bff;
}

#btn-mobile{
    display: none;
}

/* Sobre */
#sobre{
    display: flex;
    background-image: url('../img/stars.png');
    flex-direction: column;
    padding-bottom: 100px;
}
.texto-centro{
    text-align: center;
    margin-top: 100px;
}
.texto-centro span:first-child{
    font-size: 0.9em;
    font-weight:100;
}
.texto-centro span:last-child{
    font-size: 1em;
    font-weight:0;
}
.texto-centro h1{
    font-size: 3em;
    font-weight: 800;
    margin: 10px 0;
}
/*CARD PERFIL */
.card-perfil{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background: #111111;
}
.conteudo-perfil{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-areas: "foto conteudo";
}
.conteudo-e{
    grid-area: foto;
}
.linha{
    display: block;
    width: 30px;
    height: 2px;
    background: #007bff;
    margin: 20px 0;
}
.conteudo-d{
    grid-area: conteudo;
    margin-left: 40px;
    text-align: left;
    max-width: 400px;
}
.conteudo-d h3{
    font-weight: 100;
    margin:0;
}
.conteudo-d p{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}
.redes-sociais{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.redes-sociais img{
    width: 20px;
}
.redes-sociais svg{
    transition: 0.5s ease-in-out;
}
.redes-sociais svg:hover{
    width: 40px;
}
#foto{
    width: 300px;
}


.titulo{
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.flex-colum{
    display: flex;
    flex-direction: column;
}
.container-servicos{
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    gap: 20px;
}
.container-servicos#centralizado{
    justify-content: center;
    width: 250px;
}
.card-servico{
    padding: 15px;
    border: 1px solid #151515;
    text-align: left;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.card-servico p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.card-servico h3{
    color:#007bff;
    margin-top: 20px;
    margin-bottom: 20px;

}


#contato{
    width: 80%;
    height: 500px;
    background: #111111;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

@media (max-width: 600px){

    #btn-mobile{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top:70px;
        right: 0;
        height: 0;
        background: #e7e7e7;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid black;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        position: relative;
        margin-top: 5px;
        transition: .3s;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
       
    }

}